.navbar {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 24px;
    color: #6c83b5;
    background-color: white;
    border-color: transparent;
    box-shadow: 0px 1px 7px #888888;
}

.navbar-brand {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 28px;
    color: #4D4D4D;
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128,128,128,.3);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 1.0em;
    fill: #999;
}
.bndry {
    fill: #FFF;
    stroke: #6c83b5;
    stroke-width: 2px;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

/*
.blocks {
    fill: #FFF;
    stroke: blue;
    stroke-width: 1px;
}
*/

.infolabel {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 1em;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}
.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 0.9em;
}

.title {
    margin-top: 0px;
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 2em;
}

.labels {
    font-family: Tw Cen MT Condensed, sans-serif;
}
.minilogo {
    height: 55px;
    width: 55px;
}


#spanning {
    display: inline;
    vertical-align: middle;
    letter-spacing: normal;
}

.shadow {
    text-shadow: 1px 1px black;
    text-align: center;
}
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.max-width{
    max-width: 450px
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}
